{% extends "layouts/base.html" %}

{% block title %} Contact {% endblock %} 
 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
 <center>
    <form action="" method="post">
    {% csrf_token %}
    
    <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name"> {{request.form.first_name }}
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name"> {{request.form.last_name}}
        </div>
    <input type = "submit" value="Trimite" class="btn btn-succes btn btn-primary"
    
    
</center>
    
    
    
    
    </form>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}