{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %} 

{% endblock stylesheets %}

{% block content %}


<div class="container-fluid">
    <br>
    <h2>Tablou de bord</h2>
    <h3>{{ welcome_text }}</h3>
    <span class="fw-500 text-primary"> <p>{% now "l, j F Y, H:i A" %}</p> </span>
    
        <div class="row bg-white rounded shadow p-5 mb-4 mt-h-100 align-items-center justify-content-center">
            <div class="col-sm-5 col-md-6">
               <p style="font-size: 35px"> Bine ai venit la tabloul de bord al <strong>Ligii Studenților Electrotehniști!</strong> </p>
               
                <p class="lead" style="font-size: 20px; text-align: justify;"> Aici te așteaptă o multitudine de funcționalități. <br>Vei putea vizualiza noile evenimente, vei fi la curent cu ce urmează, vei putea acumula puncte și vei fi recumpensat pe percurs cu anumite beneficii.</p>
               
            </div>
            <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0 text-center img-fluid">
                    <img src="/static/assets/img/brand/super_v.png" class="img-fluid me-auto d-md-inline-block"  style="max-width:40%;">
            </div>
        </div>
    
        
    <div class="col-md-6">
     <div class="card border-0 shadow">
        <div class="card-header border-bottom">
            <h2 class="fs-5 fw-bold mb-1">Activități recente</h2>
        </div>
        
        <div class="card-body">
            <!-- Event 1 -->
            
            <div class="row align-items-center d-block d-sm-flex border-bottom pb-4 mb-4">
                <div class="col-auto mb-3 mb-sm-0">
                    <div class="calendar d-flex"><span class="calendar-month">Aug</span><span class="calendar-day py-2">10</span></div>
                </div>
                
                <div class="col">
                    <a href="activitati.html"><h3 class="h5 mb-1">Gala Anuala a voluntarilor</h3></a>
                    <span>Organizat de <a href="#">CCS Iași</a></span>
                    <div class="small fw-bold">Ora: 6:00AM</div>
                    <span class="small fw-bold">Locația: CCS Iași</span>
                </div>
            </div>
           
            <!-- Event 2 -->
            <div class="row align-items-center d-block d-sm-flex border-bottom pb-4 mb-4">
                <div class="col-auto mb-3 mb-sm-0">
                    <div class="calendar d-flex"><span class="calendar-month">Iul</span><span class="calendar-day py-2">14</span></div>
                </div>
                <div class="col">
                    <a href="calendar.html"><h3 class="h5 mb-1">Prezentare Licență</h3></a>
                    <span>Coordonator: <a href="#">APUCALOAIEI GABRIEL</a></span>
                    <div class="small fw-bold">Ora: 10:00 AM</div>
                    <span class="small fw-bold">Locația: Facultatea IEEIA</span>
                </div>
            </div>
           
        </div>
        <div class="card-footer border-top bg-gray-50">
            <a class="fw-bold d-flex align-items-center justify-content-center" href="calendar.html">
                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 12a2 2 0 100-4 2 2 0 000 4z"></path><path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd"></path></svg>
                See all
            </a>
        </div>
    </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ro_RO/sdk.js#xfbml=1&version=v14.0&appId=771283810408340&autoLogAppEvents=1" nonce="oNIPZiZs"></script>

{% endblock javascripts %}
